* {
	margin:0;
	padding: 0;
	border: 0;
}

header {
	background: #333;
	padding: 10px 0;
	position: fixed;
	left: 0;
	right: 0;
}

header nav ul li {
	display: inline;
}

header nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	margin: 0 20px;
}

header nav a:hover {
	color: grey;
}

.hero-image-section {
	background-image: url("../images/hero-image-ts.jpg");
	background-attachment: fixed;
	background-size: cover;
	padding: 300px 0;
	text-align: center;
}

.bottom-section {
	color: grey;
	padding:10px 0;
}

.contact-section {
	padding: 10px 0;
	width: 800px;
	margin: 0 auto;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.label_input_wrap {
    vertical-align: middle;
}

input,
textarea {
    border: 1px solid black;
    font-family: 'Libre Baskerville', serif;
		padding: 8px 12px;
}

input[type="submit"] {
    padding: 6px 52px;
    background: #333;
    color: white;
    border: none;
}

#test_form div {
    margin: 12px 0px;
}

footer {
	background: #333;
	text-align: right;
	padding: 10px 30px;
}

footer img {
	width: 40px;
}
